baseURL = "https://willamis.netlify.app/"
languageCode = "pt-br"
title = "Willamis"
theme = "PaperMod"

relativeURLs = false
canonifyURLs = true

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true

[params]
  defaultTheme = "auto"


